<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>202336806401-imkddgjgh03fvufrkt8mpigvive6mjo0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.202336806401-imkddgjgh03fvufrkt8mpigvive6mjo0</string>
	<key>API_KEY</key>
	<string>AIzaSyAYECq0mG_HdLJSEZ-J-vZrvFyqEPk3S7g</string>
	<key>GCM_SENDER_ID</key>
	<string>202336806401</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.onlinePosts</string>
	<key>PROJECT_ID</key>
	<string>online-posts-app</string>
	<key>STORAGE_BUCKET</key>
	<string>online-posts-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:202336806401:ios:d4947f6a085b95690d8200</string>
</dict>
</plist>